{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Bagian konten dashboardnya -->
<div class="" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 80%; padding-bottom: 25px; padding-top: 20px; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 1em; width: 97%;">
    <div class="col-12" style="margin-left: 20px">
        {% if 'podcaster' in request.session.user_roles or 'songwriter' in request.session.user_roles or 'artist' in request.session.user_roles%}
        <span class="plus-jakarta-sans-medium"
            style="margin-left: 12px; margin-bottom: 12px; font-size: 12px; padding-inline: 8px; padding-block: 6px; color: #ffffff; background-color: #1f66ff; border-radius: 24px;">Verified</span>
        {% endif %}
        <h1 class="plus-jakarta-sans-extrabold align-item-center"
            style="margin-left: 15px; color: var(--neutral-0); margin-top: 10px;">Profil Saya
        </h1>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Nama</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ user_data.0 }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Email Akun</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ user_data.1 }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Kota Asal</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ user_data.2 }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Gender</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ user_data.3 }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Tempat Lahir</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ user_data.4 }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Role</p>
            <ul class="nav nav-pills d-flex justify-content-start" id="pills-tab" role="tablist" style="margin-top: -5px;">
                {% for role in roles %}
                <li class="nav-item p-1" style="background-color: var(--neutral-5); border-radius: 16px; margin: 0 12px;"
                    role="presentation">
                    <button class="nav-link active plus-jakarta-sans-extrabold disabled" id="pills-home-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true" style="border-radius: 12px; font-weight: 900; font-size: 12px;">{{ role }}</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}