{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Document
        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</head>
<body >
    {% block content %}
    <div
        style="padding: 2px; border-radius: 15px; width: min-content; border: 1px solid var(--neutral-2); margin-top: 25px;">
        <button id="dailyTop" type="button" class="button-primary plus-jakarta-sans-bold btn-active" data-toggle="modal"
            style="font-size: 14px; border: none;">
            Daily Top 20
        </button>
        <button id="weeklyTop" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal"
            style="font-size: 14px; border: none;">
            Weekly Top 20
        </button>
        <button id="yearlyTop" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal"
            style="font-size: 14px; border: none;">
            Yearly Top 20
        </button>
        <button id="monthlyTop" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive"
            data-toggle="modal" style="font-size: 14px; border: none;">
            Monthly Top 20
        </button>
    </div>
    
    {% endblock %}
    
</body>
</html>