{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dailyTopbtn = document.getElementById('dailyTopbtn');
        const weeklyTopbtn = document.getElementById('weeklyTopbtn');
        const monthlyTopbtn = document.getElementById('monthlyTopbtn');
        const yearlyTopbtn = document.getElementById('yearlyTopbtn');
        const dailyToptbody = document.getElementById('dailyToptbody');
        const weeklyToptbody = document.getElementById('weeklyToptbody');
        const monthlyToptbody = document.getElementById('monthlyToptbody');
        const yearlyToptbody = document.getElementById('yearlyToptbody');

        dailyTopbtn.addEventListener('click', function () {
            dailyTopbtn.classList.toggle('btn-inactive');
            dailyTopbtn.classList.toggle('btn-active');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            weeklyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            dailyToptbody.classList.remove('hidden');
        });

        weeklyTopbtn.addEventListener('click', function () {
            weeklyTopbtn.classList.toggle('btn-inactive');
            weeklyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            weeklyToptbody.classList.remove('hidden');
        });

        monthlyTopbtn.addEventListener('click', function () {
            monthlyTopbtn.classList.toggle('btn-inactive');
            monthlyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            weeklyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            monthlyToptbody.classList.remove('hidden');
        });

        yearlyTopbtn.addEventListener('click', function () {
            yearlyTopbtn.classList.toggle('btn-inactive');
            yearlyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            weeklyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.remove('hidden');
        });
    });
</script>

<style>
    .hidden {
        display: none;
    }

    .btn-inactive {
        background-color: transparent !important;
        color: var(--neutral-2) !important;
    }
    
    .btn-active {
        background-color: var(--neutral-2) !important;
        color: var(--neutral-0) !important;
    }
</style>
<!-- Bagian konten chartnya -->
<div class="" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 80%; padding-bottom: 25px; padding-top: 20px; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 1em; width: 97%;">
    <!-- Daftar Chart -->
    <div class="row">
        <div class="col-12" style="margin-left: 30px">
            <h2 class="plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 40px; margin-top: 20px;">
                Telusuri Chart
            </h2>
            <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 18px; margin-top: 24px;">
                Your update of the most played tracks
            </p>
            <div style="padding: 2px; border-radius: 15px; width: min-content; border: 1px solid var(--neutral-2); margin-top: 25px;">
                <button id="dailyTopbtn" type="button" class="button-primary plus-jakarta-sans-bold btn-active" data-toggle="modal" style="font-size: 14px; border: none;">
                    Daily Top 20
                </button>
                <button id="weeklyTopbtn" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal" style="font-size: 14px; border: none;">
                    Weekly Top 20
                </button>
                <button id="monthlyTopbtn" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal" style="font-size: 14px; border: none;">
                    Monthly Top 20
                </button>
                <button id="yearlyTopbtn" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal" style="font-size: 14px; border: none;">
                    Yearly Top 20
                </button>
            </div>
            <!-- Tabel untuk Royalti -->
            <table class="table-royalti" style="width: 95%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th style="color: var(--neutral-1); padding: 10px;">#</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Judul Lagu</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Artist</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Tanggal Rilis</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Total Plays</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Actions</th>
                    </tr>
                </thead>
                <!-- Daily Top 20 -->
                <tbody id="dailyToptbody" class="plus-jakarta-sans-bold">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->dailyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada dailyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada Daily Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- weeklyTop -->
                <tbody id="weeklyToptbody" class="plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->weeklyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada weeklyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada Weekly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- monthlyTop -->
                <tbody id="monthlyToptbody" class="plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->monthlyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada monthlyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada Monthly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- yearlyTop -->
                <tbody id="yearlyToptbody" class="plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->yearlyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada yearlyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada Yearly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}