{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dailyTopbtn = document.getElementById('dailyTopbtn');
        const weeklyTopbtn = document.getElementById('weeklyTopbtn');
        const monthlyTopbtn = document.getElementById('monthlyTopbtn');
        const yearlyTopbtn = document.getElementById('yearlyTopbtn');
        const dailyToptbody = document.getElementById('dailyToptbody');
        const weeklyToptbody = document.getElementById('weeklyToptbody');
        const monthlyToptbody = document.getElementById('monthlyToptbody');
        const yearlyToptbody = document.getElementById('yearlyToptbody');

        dailyTopbtn.addEventListener('click', function () {
            dailyTopbtn.classList.toggle('btn-inactive');
            dailyTopbtn.classList.toggle('btn-active');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            weeklyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            dailyToptbody.classList.remove('hidden');
        });

        weeklyTopbtn.addEventListener('click', function () {
            weeklyTopbtn.classList.toggle('btn-inactive');
            weeklyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            weeklyToptbody.classList.remove('hidden');
        });

        monthlyTopbtn.addEventListener('click', function () {
            monthlyTopbtn.classList.toggle('btn-inactive');
            monthlyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            yearlyTopbtn.classList.remove('btn-active');
            yearlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            weeklyToptbody.classList.add('hidden');
            yearlyToptbody.classList.add('hidden');
            monthlyToptbody.classList.remove('hidden');
        });

        yearlyTopbtn.addEventListener('click', function () {
            yearlyTopbtn.classList.toggle('btn-inactive');
            yearlyTopbtn.classList.toggle('btn-active');
            dailyTopbtn.classList.remove('btn-active');
            dailyTopbtn.classList.add('btn-inactive');
            weeklyTopbtn.classList.remove('btn-active');
            weeklyTopbtn.classList.add('btn-inactive');
            monthlyTopbtn.classList.remove('btn-active');
            monthlyTopbtn.classList.add('btn-inactive');
            dailyToptbody.classList.add('hidden');
            weeklyToptbody.classList.add('hidden');
            monthlyToptbody.classList.add('hidden');
            yearlyToptbody.classList.remove('hidden');
        });
    });
</script>

<style>
    .hidden {
        display: none;
    }

    .btn-inactive {
        background-color: transparent !important;
        color: var(--neutral-2) !important;
    }
    
    .btn-active {
        background-color: var(--neutral-2) !important;
        color: var(--neutral-0) !important;
    }
</style>
<!-- Bagian konten chartnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 81vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Daftar Chart -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 2vw; margin-top: 2vh;">
                Telusuri Chart
            </h2>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; margin-top: 2vh;">
                Your update of the most played tracks
            </p>
            <div class="d-flex justify-content-center" style="padding: 0.5vh; border-radius: 15px; border: 1px solid var(--neutral-2); margin-top: 2vh; width: min-content;">
                <button id="dailyTopbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-active" style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw;">
                    Daily Top 20
                </button>
                <button id="weeklyTopbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive"  style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Weekly Top 20
                </button>
                <button id="monthlyTopbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive" style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Monthly Top 20
                </button>
                <button id="yearlyTopbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive" style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Yearly Top 20
                </button>
            </div>
            <!-- Tabel untuk chart -->
            <table class="table-chart" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%;">Judul Lagu
                        </th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 22%;">Artist</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 23%;">Tanggal Rilis</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 15%;">Total Plays</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 14% ">Actions
                        </th>
                    </tr>
                </thead>
                <!-- Daily Top 20 -->
                <tbody id="dailyToptbody" class="plus-jakarta-sans-bold">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="table plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align:start; padding:1vh;">
                        <td style="padding-top: 1vh; padding-bottom: 2vw; padding: 1vh; color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 4vw; color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 4vw; color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->dailyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->dailyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada dailyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center; font-size: 1vw;" class="table plus-jakarta-sans-medium p-4">
                            Belum ada Daily Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- weeklyTop -->
                <tbody id="weeklyToptbody" class="plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->weeklyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->weeklyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada weeklyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center; font-size: 1vw;" class="table plus-jakarta-sans-medium p-4">
                            Belum ada Weekly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- monthlyTop -->
                <tbody id="monthlyToptbody" class="p plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->monthlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->monthlyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada monthlyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center; font-size: 1vw;" class="table plus-jakarta-sans-medium p-4">
                            Belum ada Monthly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            
                <!-- yearlyTop -->
                <tbody id="yearlyToptbody" class="plus-jakarta-sans-bold hidden">
                    <!-- {% if royalti_artist %} -->
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    <!-- {% for royalti in royalti_artist %} -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px;">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            <!-- {{royalti.no}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_song}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.judul_album}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_play}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- {{royalti.total_download}} -->yearlyTop
                        </td>
                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <!-- Rp {{royalti.jumlah_royalti}} -->yearlyTop
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada yearlyTop, tampilkan pesan -->
                    <tr>
                        <td colspan="6" style="text-align: center; font-size: 1vw;" class="table plus-jakarta-sans-medium p-4">
                            Belum ada Yearly Top
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}