<div class="row">
    <div class="col-12" style="margin-left: 30px">
        <h2 class="plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 40px; margin-top: 20px;">Telusuri Chart</h2>
        <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 18px; margin-top: 24px;">Chart hadir untuk menemani harimu</p>

        <!-- Tabs untuk Chart Types -->
        <ul class="nav nav-tabs plus-jakarta-sans-bold" id="chartTabs" role="tablist">
            {% for chart_type in chart_types %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ chart_type }}-tab" data-toggle="tab" href="#{{ chart_type }}" role="tab" aria-controls="{{ chart_type }}" aria-selected="true">{{ chart_type }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Konten untuk setiap tab -->
        <div class="tab-content" id="chartTabContent">
            {% for chart_type, chart_data in chart_details.items %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ chart_type }}" role="tabpanel" aria-labelledby="{{ chart_type }}-tab">
                <table class="table-podcast" style="width: 95%; border-collapse: collapse; margin-top: 48px;color: var(--neutral-1); padding: 10px;">
                    <thead>
                        <tr style="border-bottom: 1px solid var(--neutral-2);">
                            <th style="color: var(--neutral-1); padding: 10px;">#</th>
                            <th style="color: var(--neutral-1); padding-left: 120px;">Judul Lagu</th>
                            <th style="color: var(--neutral-1); padding-left: 120px;">Oleh</th>
                            <th style="color: var(--neutral-1); padding-left: 120px;">Tanggal Rilis</th>
                            <th style="color: var(--neutral-1); padding-left: 120px;">Total Plays</th>
                            <th style="color: var(--neutral-1); padding-left: 120px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Konten isi chart -->
                        {% for data in chart_data %}
                        <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                            <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1); ">{{ forloop.counter }}</td>
                            <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1); word-wrap: break-word;">{{ data.1 }}</td>
                            <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1); word-wrap: break-word;">{{ data.2 }}</td>
                            <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">{{ data.3 }}</td>
                            <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">{{ data.4 }}</td>
                            <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                                <div class="dropdown d-flex">
                                    <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;">
                                        <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: var(--neutral-3); border-radius: 16px; padding: 4px; width: max-content !important;">
                                        <a class="dropdown-item plus-jakarta-sans-bold m-auto" style="color: var(--neutral-1); font-size: 12px; font-weight: 600;" href="{% url'dashboardartist:detaillaguartist}">Lihat daftar episode</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>