{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background: linear-gradient(180deg, #292724, #1B1817); width: 100%; border-radius: 24px; margin-top: -2em; height: 85%; max-height: 800px; padding-bottom: 25px; padding-top: 20px;
white-space: nowrap; overflow-y: scroll; text-overflow: ellipsis;">
    <div class="container-fluid"
        style="background: linear-gradient(180deg, #292724, #1B1817); width: 100%; border-radius: 24px; margin-top: -2em; height: 45em; padding-bottom: 25px; padding-top: 20px;">
        <h1 class="plus-jakarta-sans-extrabold align-item-center"
            style="margin-left: 15px; color: var(--neutral-0); margin-top: 10px;">Profil Saya
        </h1>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Nama</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ label_info.nama }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Email
                Akun</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ label_info.email }}</p>
        </div>
        <div class="nama" style="margin-top: 20px;">
            <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 15px; color: #504B48;">Kontak
                Label</p>
            <p class="plus-jakarta-sans-extrabold align-item-center"
                style="margin-left: 15px; color: var(--neutral-0); margin-top: -5px;">
                {{ label_info.kontak }}</p>
        </div>
    </div>
</div>

{% endblock %}