{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function goBack() {
        menuCheckbox.checked = false;
        window.history.back();
    }
</script>

<style>
    .chip-genres {
        display: inline-block;
        background-color: var(--neutral-2);
        border-radius: 15px;
        padding-inline: 10px;
        padding-block: 5px;
        color: var(--neutral-0);
        width: 64px;
        text-align: center;
    }

    .xbutton:hover{
        background-color: var(--neutral-3);
    }
</style>
<!-- Bagian konten detail songnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 79vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <div class="col-12" style="margin-left: 4vw; margin-top: 2vh;">
        <div style="height: 4vh; margin-top: 1vh;">
            <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle=""
                aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;"
                onclick="goBack()">
                <div class="d-flex" style="">
                    <img src="{% static 'img/back-icon.svg' %}" alt="search" width="25vw" height="25vh"
                        style="margin-left: 0.3vw;">
                    <p class="p plus-jakarta-sans-extrabold"
                        style="margin-left: 1vh; color: var(--neutral-0); font-size: 1vw; margin: auto;">
                        Back
                    </p>
                </div>
            </button>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="">
            <div style="">
                <h1 class="profilsaya plus-jakarta-sans-extrabold align-item-center" style="margin-left: 1vw; color: var(--neutral-0); margin-top: 10px; font-size: 3vw; width: 42vw; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                    {{judul_lagu}}
                </h1>
            </div>
            <div class="my-2 d-flex justify-content-center" style="margin-top: 4vh; width: 55%;">
                <div style="margin-right: 1vw;">
                    <a href="" class="" style="text-decoration: none;" data-target="#modalInform" data-toggle="modal">
                        <div style="margin: auto; width: max-content;">
                            <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola" style="margin: auto; width: 9vw; height: 9vh;">
                        </div>
                        <p class="p plus-jakarta-sans-extrabold"
                            style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh !important; margin: auto; width: max-content;">
                            Putar
                        </p>
                    </a>
                </div>
                <div style="margin-right: 1vw;">
                    <a href="" class="" style="text-decoration: none;" data-target="#modalAddSong" data-toggle="modal">
                        <div style="margin: auto; width: max-content;">
                            <img src="{% static 'img/PlusCircleAdd.svg' %}" alt="kelola" style="margin: auto; width: 9vw; height: 9vh;">
                        </div>
                        <p class="p plus-jakarta-sans-extrabold"
                            style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh !important; margin: auto; width: max-content;">
                            Tambah ke Playlist
                        </p>
                    </a>
                </div>
                <div style="">
                    <a href="" class="" style="text-decoration: none;" data-target="#modalInform" data-toggle="modal">
                        <div style="margin: auto; width: max-content;">
                            <img src="{% static 'img/PlusCircleAdd.svg' %}" alt="kelola" style="margin: auto; width: 9vw; height: 9vh;">
                        </div>
                        <p class="p plus-jakarta-sans-extrabold" style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh !important; margin: auto; width: max-content;">
                            Download
                        </p>
                    </a>
                </div>
                <form id="tambahLaguForm" method="POST" action="{% url 'song:add_song_playlist' id_song %}">
                    {% csrf_token %}
                    <!-- modal buat add lagu ke playlist -->
                    <div class="modal fade" id="modalAddSong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true" style="">
                        <div class="modalpremium modal-dialog" role="document" style="width: 40vw; margin: auto;">
                            <div class="modal-content"
                                style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 0vh; width: 100%;">
                                <div class="modal-header" style="border-bottom: none;">
                                    <h5 class="headermodal plus-jakarta-sans-extrabold" id="exampleModalLabel"
                                        style="color: var(--neutral-0); margin: auto; font-size: 1.3vw;">
                                        Tambah Lagu ke Playlist
                                    </h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center" style="margin-top: 1vh; width: max-content; margin: auto;">
                                    <div class="" style="border-radius: 12px; width: max-content; background-color: var(--neutral-4); padding: 0.8vh 0.5vw;">
                                        <img class="imgmoney" src="{% static 'img/default.png' %}" alt="kelola" style="margin: auto; width: 2vw; height: 5vh;">
                                    </div>
                                    <div style="margin-left: 1vw; margin-top: 0.9vh;">
                                        <h3 class="detailmodal plus-jakarta-sans-extrabold" style="font-size: 1vw; color: #ffffff;">
                                            {{judul_lagu}}</h3>
                                        <h3 class="detailmodal plus-jakarta-sans-medium" style="font-size: 0.7vw; color: var(--neutral-1)">
                                            {{artist}}
                                        </h3>
                                    </div>
                                </div>
                                {% if detail_playlist_kelola %}
                                <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                    <!-- Dropdown untuk judul -->
                                    <div class="form-group">
                                        <label class="detailmodal" for="judulDropdown" style="color: #ffffff; font-size: 1vw;">Playlist</label>
                                        <select name="id_playlist" class="form-control" id="judulDropdown" style="margin-top: 5px; font-size: 0.9vw;">
                                            {% for detail in detail_playlist_kelola %}
                                            <option value="{{ detail.id_playlist }}" style="font-size: 0.9vw;" class="p">{{detail.namaPlaylist}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% else %}
                                <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                    <!-- Dropdown untuk judul -->
                                    <div class="form-group">
                                        <label class="detailmodal" for="judulDropdown" style="color: #ffffff; font-size: 1vw;">Playlist</label>
                                        <p class="p" style="font-size: 0.9vw;">Anda belum punya Playlist. Silahkan Tambah Playlist</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if detail_playlist_kelola %}
                                <div class="modal-footer" style="border-top: none;">
                                    <button type="button" class="button button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                        style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white; font-size: 1vw;"
                                        data-dismiss="modal">Kembali</button>
                                    <button type="submit" class="button button-modal-danger plus-jakarta-sans-bold button-primary"
                                        style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; color: var(--neutral-0); font-size: 1vw;">Tambah
                                        ke Playlist</button>
                                </div>
                                {% else %}
                                <div class="modal-footer" style="border-top: none;">
                                    <button type="button" class="button button-modal-secondary plus-jakarta-sans-bold secondary-button" style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white; font-size: 1vw;"
                                        data-dismiss="modal">Kembali</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if request.GET.success %}
        <!-- Berhasil Ditambahkan -->
        <div class="d-flex justify-content-between fade show" role="alert" style="background-color: #281E14; border: none; width: min-content; height: 8vh; margin: auto; margin-top: 1vh; border-radius: 5px;">
            <p class="p plus-jakarta-sans-medium" style="color:var(--neutral-0); margin: auto; font-size: 1vw; margin-left: 2vw; margin-right: 2.5vw">Lagu telah berhasil ditambahkan ke playlist</p>
            <a href="" data-bs-dismiss="alert" aria-label="Close" style="margin: auto ;text-decoration: none; color: var(--neutral-0); margin-right: 1vw;">
                <p class="xbutton" style="font-size: 1vw; font-weight: 600; margin: auto; padding: 0.5vw 0.5vw;">X</p>
            </a>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="d-flex justify-content-between fade show" role="alert"
            style="background-color: #281E14; border: none; width: min-content; height: 8vh; margin: auto; margin-top: 1vh; border-radius: 5px;">
            <p class="p plus-jakarta-sans-medium"
                style="color:var(--neutral-0); margin: auto; font-size: 1vw; margin-left: 2vw; margin-right: 2.5vw">{{error_message}}</p>
            <a href="" data-bs-dismiss="alert" aria-label="Close"
                style="margin: auto ;text-decoration: none; color: var(--neutral-0); margin-right: 1vw;">
                <p class="xbutton" style="font-size: 1vw; font-weight: 600; margin: auto; padding: 0.5vw 0.5vw;">X</p>
            </a>
        </div>
        {% endif %}
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Artist</p>
            <p class="p plus-jakarta-sans-extrabold align-item-center"
                style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                {{artist}}</p>
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Genre</p>
            {% for genre in genres_song %}
            {% if genre %}
            <p class="p plus-jakarta-sans-bold chip-genres" style="color: var(--neutral-0); font-size: 1vw; width: fit-content; margin-top: -1vh;">
                {{ genre }}
            </p>
            {% else %}
            <p class="p plus-jakarta-sans-bold chip-genres"
                style="color: var(--neutral-0); font-size: 1vw; width: fit-content; margin-top: -1vh;">
                -
            </p>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Songwriter</p>
            {% for name in songwriter %}
            {% if name %}
            <p class="p plus-jakarta-sans-bold chip-genres"
                style="color: var(--neutral-0); font-size: 1vw; width: fit-content; margin-top: -1vh;">
                {{ name.name }}
            </p>
            {% else %}
            <p class="p plus-jakarta-sans-bold chip-genres"
                style="color: var(--neutral-0); font-size: 1vw; width: fit-content; margin-top: -1vh;">
                -
            </p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Durasi</p>
            <p class="p plus-jakarta-sans-extrabold align-item-center"
                style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                {{ durasi }}</p>
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Tanggal Rilis</p>
            <p class="p plus-jakarta-sans-extrabold align-item-center"
                style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                {{tanggal_rilis|date:"d/m/Y"}}</p>
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Tahun</p>
            <p class="p plus-jakarta-sans-extrabold align-item-center"
                style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                {{ tahun }}</p>
        </div>
        <div class="nama d-flex" style="margin-top: 3vh;">
            <div class="nama">
                <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Total Play</p>
                <p class="p plus-jakarta-sans-extrabold align-item-center"
                    style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                    {{total_play}}</p>
            </div>
            <div class="nama" style="margin-left: 1vw;">
                <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Total Download</p>
                <p class="p plus-jakarta-sans-extrabold align-item-center"
                    style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                    {{total_download}}</p>
            </div>
        </div>
        <div class="nama" style="margin-top: 3vh;">
            <p class="p plus-jakarta-sans-extrabold align-item-center" style="color: #504B48; font-size: 1vw;">Album</p>
            <p class="p plus-jakarta-sans-extrabold align-item-center"
                style="color: var(--neutral-0); margin-top: -1vh; font-size: 1vw;">
                {{nama_album}}</p>
        </div>
    </div>
</div>
{% endblock %}