{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function goBack() {
        menuCheckbox.checked = false;
        window.history.back();
    }
</script>

<!-- Bagian konten kelola albumnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 81vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Detail album -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <div style="height: 4vh; margin-top: 1vh;">
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle=""
                    aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;"
                    onclick="goBack()">
                    <div class="d-flex" style="">
                        <img src="{% static 'img/back-icon.svg' %}" alt="search" width="25vw" height="25vh"
                            style="margin-left: 0.3vw;">
                        <p class="p plus-jakarta-sans-extrabold"
                            style="margin-left: 1vh; color: var(--neutral-0); font-size: 1vw; margin: auto;">
                            Back
                        </p>
                    </div>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="">
                <div style="">
                    <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:30px">
                        {{label}} | {{durasi}} | {{jumlah_lagu}} lagu </p>
                    <h1 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 3vw; width: 50vw; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                        {{judul_album}}
                    </h1>
                </div>
            </div>

            <!-- Tabel untuk lagu -->
            <table class="table-album" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table"
                            style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#</th>
                        <th class="table"
                            style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 30%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Judul
                            Lagu</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 20%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 20%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Total Plays</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 15%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Total Download</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan lagu -->
                    {% for detail in detail_album %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.no }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.judul }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.durasi }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.total_play }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.total_download }}</td>
                        <td class="action" style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex justify-content-center align-items-center">
                                <button class="threedots btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none; margin-top: -2vh;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'song:song' detail.konten_id %}">Detail</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}