{% extends 'base.html' %}
{% load static %}

{% block content %}

<script>
    // Fungsi untuk menampilkan pop-up
    function showPopup() {
        document.getElementById('popupContainer').style.display = 'flex';
    }

    // Fungsi untuk menyembunyikan pop-up
    function hidePopup() {
        document.getElementById('popupContainer').style.display = 'none';
    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>

<style>
    /* Styling untuk pop-up container */
    body {
        margin: 0;
        padding: 0;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .chip-genres {
        display: inline-block;
        background-color: var(--neutral-2);
        border-radius: 15px;
        padding-inline: 10px;
        padding-block: 5px;
        color: var(--neutral-0);
        width: 64px;
        text-align: center;
    }
</style>
<!-- Bagian konten dashboardnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 81vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Daftar podcast -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <div style="height: 4vh; margin-top: 1vh; background-color: aqua;">
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle=""
                    aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;"
                    onclick="goBack()">
                    <div class="d-flex" style="">
                        <img src="{% static 'img/back-icon.svg' %}" alt="search" width="25vw" height="25vh"
                            style="margin-left: 0.3vw;">
                        <p class="p plus-jakarta-sans-extrabold"
                            style="margin-left: 1vh; color: var(--neutral-0); font-size: 1vw; margin: auto;">
                            Back
                        </p>
                    </div>
                </button>
            </div>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:30px">Podcast,
                {{podcast_detail.6 }}</p>
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 40px; margin-top: 10px;">
                {{ podcast_detail.0}}</h2> <!-- Judul Podcast-->
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-0); font-size: 20px; margin: top 20px">
                <span style="color: var(--neutral-1); font-size: 13px; margin-right: 8px;">by</span>
                <span>{{ podcast_detail.2 }}</span> <!-- Nama Podcaster-->
            </p>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:5px">
                {% if total_minutes > 60 %}
                {{ podcast_detail.3 }} Episodes, {{ total_durasi }}
                {% else %}
                {{ podcast_detail.3 }} Episodes, {{ total_durasi }}
                {% endif %}
            </p>
            <!-- Genre Podcast-->
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 15px; margin-top: 10px;">
                Genre
            </p> 
            {% for genre in genres_podcast %}
            <p class="p plus-jakarta-sans-bold chip-genres" style="color: var(--neutral-0); font-size: 13px; margin-top:0px; width:fit-content;">
                {{ genre }}
            </p>
            {%endfor%}
            <p class="p plus-jakarta-sans-medium" style="color: var(--neutral-1); font-size: 13px; margin-top:5px;">
                Released on {{ podcast_detail.5 }}
            </p>
            <div class="addepisode container" style="text-decoration: none; margin-top: 10px;">
                <a href="#" class="container" style="text-decoration: none; margin-top: 5px; height: max-content !important; background-color: brown;" data-toggle="modal" data-target="#popupContainer2">
                    <img src="{% static 'img/add-icon.svg' %}" alt="add" style="width: 55px; height: 55px; margin-left: 1em; margin: auto;">
                    <br>
                    <h7 class="plus-jakarta-sans-extrabold" style="color: var(--neutral-0); margin-top: 15px; margin: auto;">
                        Tambah Episode</h7>
                </a>
            </div>
            <!-- Tabel untuk podcast -->
            <table class="table-podcast" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table"
                            style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; background-color: blue; width: 25%;">Judul Episode</th>
                        <th class="table"
                            style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; background-color: purple; width: 25%;">Deskripsi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 20%;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 20%;">Tanggal</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan episode -->
                    {% if episodes|length > 0 %}
                    {% for episode in episodes %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); ">
                            {{ episode.1 }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; background-color: aqua; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{ episode.2 }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; background-color: blueviolet; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {% if episode.3 %}
                            {% if episode.3 > 60 %}
                            {{ episode.3 }}
                            {% else %}
                            {{ episode.3 }}
                            {% endif %}
                            {% else %}
                            {{ episode.3 }}
                            {% endif %}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; background-color: pink; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{ episode.4|date:"d/m/Y" }}</td>
                        <td class="action" style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex justify-content-center align-items-center">
                                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;" href="#" data-toggle="modal"
                                        data-target="#updateEpisodeModal{{episode.0}}">Update Episode</a>
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;" href="#" data-toggle="modal"
                                        data-target="#modalHapusEpisodes{{episode.0}}">Hapus</a>
                                </div>
                            </div>
                            <!-- Modal Update Episode -->
                            <div class="modal fade" id="updateEpisodeModal{{episode.0}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: transparent;">
                                <div class="modalpremium modal-dialog" role="document" style="background-color: aquamarine; width: 40vw; margin: auto;">
                                    <div class="modal-content"
                                        style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 0vh; background-color: blueviolet; width: 100%;">
                                        <form method="POST" action="{% url 'kelola:update_episode' id_konten=id_konten id_episode=episode.0 %}">
                                            {% csrf_token %}
                                            <div>
                                                <div class="modal-header" style="border-bottom: none;">
                                                    <h5 class="headermodal modal-title plus-jakarta-sans-extrabold" id="exampleModalLabel"
                                                        style="color: var(--neutral-0); margin: auto;">
                                                        Update Episode
                                                    </h5>
                                                </div>
                                                <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                                    <div class="form-group">
                                                        <label class="detailmodal" for="judulPodcast" style="color: #ffffff;">Judul Podcast:</label>
                                                        <input name="judulPodcast" type="text" class="form-control" id="artist"
                                                            value="{{ podcast_detail.0 }}" disabled>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1em;">
                                                        <label class="detailmodal" for="judulEpisode" style="color: #ffffff;">Judul Episode:</label>
                                                        <input name="judulEpisode" type="text" class="form-control" id="judulEpisode"
                                                            placeholder="Masukkan judul episode" required>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1em;">
                                                        <label class="detailmodal" for="deskripsi" style="color: #ffffff;">Deskripsi:</label>
                                                        <input name="deskripsi" type="text" class="form-control" id="deskripsi"
                                                            placeholder="Masukkan deskripsi" required>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1em;">
                                                        <label class="detailmodal" for="episodeDuration" style="color: #ffffff;">Durasi Episode:</label>
                                                        <div style="display: flex;">
                                                            <div>
                                                                <label class="detailmodal" for="">Menit</label>
                                                                <input name="durasiMenit" type="number" id="durasiMenit" class="form-control"
                                                                    min="0" max="60" step="1" value="3" required>
                                                            </div>
                                                            <div>
                                                                <label class="detailmodal" for="">Detik</label>
                                                                <input name="durasiDetik" type="number" id="durasiDetik" class="form-control"
                                                                    min="0" max="60" step="1" value="15" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="border-top: none;">
                                                <button type="button" class="button button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white;"
                                                    data-dismiss="modal">Batal</button>
                                                <button type="submit" class="button button-modal-danger plus-jakarta-sans-bold button-primary"
                                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; color: var(--neutral-0);">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Hapus -->
                            <div class="modal fade" id="modalHapusEpisodes{{episode.0}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: transparent;">
                                <div class="modalpremium modal-dialog" role="document" style="background-color: aquamarine; width: 40vw; margin: auto;">
                                    <div class="modal-content"
                                        style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 0vh; background-color: blueviolet; width: 100%;">
                                        <div class="modal-header" style="border-bottom: none;">
                                            <h5 class="headermodal modal-title plus-jakarta-sans-extrabold" id="exampleModalLabel"
                                                style="color: var(--neutral-0); margin: auto;">
                                                Konfirmasi Hapus
                                            </h5>
                                        </div>
                                        <div class="detailmodal modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1); margin: auto;">
                                            Apakah Anda yakin ingin menghapus item ini?
                                        </div>
                                        <div class="modal-footer" style="border-top: none;">
                                            <button type="button" class="button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                                style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white;"
                                                data-dismiss="modal">Batal</button>
                                            <form method="POST" action="{% url 'kelola:delete_episode' id_konten=id_konten id_episode=episode.0 %}">
                                                {% csrf_token %}
                                                <button type="submit" class="button button-modal-danger plus-jakarta-sans-bold danger-button"
                                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; background-color: rgb(255, 47, 47); color: var(--neutral-0);">Hapus</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                        <td colspan="5" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Kamu belum memiliki episode, ayo buat episode terbaru dari podcastmu!
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- Modal Add Episode -->
            <div class="modal fade" id="popupContainer2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modalpremium modal-dialog" role="document" style="background-color: aquamarine; width: 40vw; margin: auto;">
                    <div class="modal-content"
                        style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 0vh; background-color: blueviolet; width: 100%;">
                        <form method="POST" action="{% url 'kelola:add_episodes' id_konten=id_konten %}">
                            {% csrf_token %}
                            <input type="hidden" name="id_konten" value="{{ id_konten }}">
                            <div>
                                <div class="modal-header" style="border-bottom: none;">
                                    <h5 class="headermodal modal-title plus-jakarta-sans-extrabold" id="exampleModalLabel" style="color: var(--neutral-0); margin: auto;">
                                        Tambah Episode
                                    </h5>
                                </div>
                                <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                    <div class="form-group">
                                        <label class="detailmodal" for="judulPodcast" style="color: #ffffff;">Judul Podcast:</label>
                                        <input name="judulPodcast" type="text" class="form-control" id="artist" value="{{ podcast_detail.0 }}" disabled>
                                    </div>
                                    <div class="form-group" style="margin-top: 1em;">
                                        <label class="detailmodal" for="judulEpisode" style="color: #ffffff;">Judul Episode:</label>
                                        <input name="judulEpisode" type="text" class="form-control" id="judulEpisode" placeholder="Masukkan judul episode" required>
                                    </div>
                                    <div class="form-group" style="margin-top: 1em;">
                                        <label class="detailmodal" for="deskripsi" style="color: #ffffff;">Deskripsi:</label>
                                        <input name="deskripsi" type="text" class="form-control" id="deskripsi" placeholder="Masukkan deskripsi" required>
                                    </div>
                                    <div class="form-group" style="margin-top: 1em;">
                                        <label class="detailmodal" for="episodeDuration" style="color: #ffffff;">Durasi Episode:</label>
                                        <div style="display: flex;">
                                            <div>
                                                <label class="detailmodal" for="">Menit</label>
                                                <input name="durasiMenit" type="number" id="durasiMenit" class="form-control" min="0" max="60" step="1"
                                                    value="3" required>
                                            </div>
                                            <div>
                                                <label class="detailmodal" for="">Detik</label>
                                                <input name="durasiDetik" type="number" id="durasiDetik" class="form-control" min="0" max="60" step="1"
                                                    value="15" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="border-top: none;">
                                <button type="button" class="button button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white;"
                                    data-dismiss="modal">Batal</button>
                                <button type="submit" class="button button-modal-danger plus-jakarta-sans-bold button-primary"
                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; color: var(--neutral-0);">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}