{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function goBack(num) {
        for (let i = 0; i < num; i++) {
            window.history.back();
        }
    }
</script>

<!-- Bagian konten kelola playlistnya -->
<div class=""
    style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 80%; max-height: 82%; padding-bottom: 25px; padding-top: 20px; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 1em; width: 97%;">
    <!-- Detail Playlist -->
    <div class="row">
        <div class="col-12" style="margin-left: 30px">
            <div style="height: 40px; margin-top: 10px;">
                {% if '2' in request.session.back %}
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle="" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;" onclick="goBack(2)">
                {% else %}
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle="" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;" onclick="goBack(1)">
                {% endif %}
                    <div class="d-flex" style="">
                        <img src="{% static 'img/back-icon.svg' %}" alt="search"
                            style="width: 20px; height: 20px; margin-left: 5px;">
                        <p class="plus-jakarta-sans-extrabold"
                            style="margin-left: 10px; color: var(--neutral-0); margin-top: -2px;">
                            Back
                        </p>
                    </div>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="">
                <div style="">
                    <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:30px">
                        {{pembuat}} | {{jumlah_lagu}} lagu |
                        {{durasi}} | {{tanggal_buat}}</p>
                    <h1 class="plus-jakarta-sans-extrabold align-item-center"
                        style="color: var(--neutral-0); font-size: 40px; margin-top: 10px;">
                        {{judul_playlist}}
                    </h1>
                    <h6 class="plus-jakarta-sans-extrabold align-item-center"
                        style="color: var(--neutral-1); margin-top: 10px;">
                        {{deskripsi_playlist}}
                    </h6>
                </div>
                <div class="my-2 d-flex justify-content-between" style="width: 20%; height: 100px;">
                    <div>
                        <a href="" class="mx-1" style="text-decoration: none;" data-target="#modalInform"
                            data-toggle="modal">
                            <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola"
                                style="width: 80px; height: 80px;">
                            <p class="plus-jakarta-sans-extrabold"
                                style="color: var(--neutral-1); text-decoration: none;">
                                Putar Acak
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="mx-1" style="text-decoration: none;" data-toggle="modal"
                            data-target="#tambahLaguModal">
                            <img src="{% static 'img/PlusCircleAdd.svg' %}" alt="kelola"
                                style="width: 80px; height: 80px;">
                            <p class="plus-jakarta-sans-extrabold" style="color: var(--neutral-1); margin-left: -5px;">
                                Tambah Lagu
                            </p>
                        </a>
                    </div>
                    <!-- Modal -->
                    <form id="tambahLaguForm" method="POST"
                        action="{% url 'kelola:add_song_to_playlist' id_playlist %}">
                        {% csrf_token %}
                        <div class="modal fade" id="tambahLaguModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content"
                                    style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 20px;">
                                    <div class="modal-header" style="border-bottom: none;">
                                        <h5 class="modal-title plus-jakarta-sans-extrabold" id="exampleModalLabel"
                                            style="color: var(--neutral-0);">
                                            Tambah Lagu</h5>
                                    </div>
                                    <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                        <!-- Dropdown untuk judul -->
                                        <div class="form-group">
                                            <label for="judulDropdown">Lagu</label>
                                            <select class="form-control" id="judulDropdown" name="song_id">
                                                {% for song in list_song %}
                                                <option value="{{ song.id }}">{{song.judul}} -
                                                    {{song.pembuat}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="border-top: none;">
                                        <button type="button"
                                            class="button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                            style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white;"
                                            data-dismiss="modal">Batal</button>
                                        <button form="tambahLaguForm" type="submit"
                                            class="button-modal-danger plus-jakarta-sans-bold button-primary"
                                            style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; color: var(--neutral-0);">Tambah
                                            ke Playlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if error_message %}
            <div class="d-flex justify-content-center alert alert-primary alert-dismissible fade show" role="alert"
                style="background-color: #281E14; border: none; width: 30%; margin: auto; margin-top: 1.5em;">
                <img src="{% static 'img/ExclamationCircleFill.svg' %}" alt="alert-info">
                <p class="plus-jakarta-sans-medium" style="color:var(--neutral-0); margin: auto;">{{error_message}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            {% endif %}

            <!-- Tabel untuk lagu -->
            <table class="table-podcast"
                style="width: 95%; border-collapse: collapse; margin-top: 48px;color: var(--neutral-1); padding: 10px;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th style="color: var(--neutral-1); padding: 10px;">#</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Judul Lagu</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Nama Artist</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Durasi</th>
                        <th style="color: var(--neutral-1); padding-left: 120px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan lagu -->
                    {% if detail_playlist|length > 0 %}
                    {% for detail in detail_playlist %}
                    <tr class="plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">
                            {{ detail.no }}
                        </td>
                        <td
                            style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">
                            {{ detail.judulLagu }}
                        </td>
                        <td
                            style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            {{ detail.artist }}</td>
                        <td
                            style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            {{ detail.durasi }}</td>
                        <td
                            style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">
                            <div>
                                <a href="#" data-toggle="modal" data-target="#modalInform"
                                    style="text-decoration: none;">
                                    <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola"
                                        style="width: 20px; height: 20px;">
                                </a>
                                <button class="btn btn-secondary dropdown-toggle-iconless" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" style="background-color: transparent; border: none;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola"
                                        style="width: 20px; height: 20px;">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 4px; width: max-content !important;">
                                    <a class="dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 12px; font-weight: 600;"
                                        href="{% url 'song:song' detail.id_konten %}">Detail</a>
                                    <a class="dropdown-item plus-jakarta-sans-bold m-auto" style="color: var(--neutral-1); font-size: 12px; font-weight: 600;" href="#" data-toggle="modal" data-target="#modalHapusSong{{detail.id_konten}}">Hapus</a>
                                </div>
                                <!-- Modal Hapus -->
                                <div class="modal fade" id="modalHapusSong{{detail.id_konten}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content"
                                            style="background-color: var(--neutral-4); border-radius: 40px !important; padding: 20px;">
                                            <div class="modal-header" style="border-bottom: none;">
                                                <h5 class="modal-title plus-jakarta-sans-extrabold" id="exampleModalLabel"
                                                    style="color: var(--neutral-0);">
                                                    Konfirmasi Hapus
                                                </h5>
                                            </div>
                                            <div class="modal-body plus-jakarta-sans-medium" style="color: var(--neutral-1);">
                                                Apakah Anda yakin ingin menghapus item ini?
                                            </div>
                                            <div class="modal-footer" style="border-top: none;">
                                                <button type="button" class="button-modal-secondary plus-jakarta-sans-bold secondary-button"
                                                    style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; text-decoration: 2px solid var(--neutral-1); background-color: var(--neutral-3); color: white;"
                                                    data-dismiss="modal">Batal</button>
                                                <form method="POST" action="{% url 'kelola:delete_song' detail.id_konten id_playlist %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="button-modal-danger plus-jakarta-sans-bold danger-button"
                                                        style="border: none !important; border-radius: 16px; padding-block: 12px; padding-inline: 24px; background-color: rgb(255, 47, 47); color: var(--neutral-0);">Hapus</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                        <td colspan="5" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Kamu belum memiliki lagu, ayo tambahkan lagu di playlistmu!
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}