{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Document
        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

</head>
<body >
    {% block content %}
    <!-- <header>
        <h1>My Django App</h1>
        <nav>
            <ul>
                <a href="{%url 'preboarding:konten' %}">Default</a>
                
                Tambahkan link ke halaman lain di sini
            </ul>
        </nav>
    </header>
    <main>
        
        Konten dari halaman akan dimasukkan di sini
        
        <img src="{% static 'img/default.png' %}" alt="Main Image">

        
    </main> -->
    
    {% endblock %}
    
</body>
</html>