{% extends 'base.html' %} 
{% load static %}

{% block content %}
<style>
    
/* Style untuk tab aktif */
.nav-link.active {
    color: var(--neutral-0) !important; /* Warna teks saat aktif */
    background-color: var(--neutral-4) !important; /* Warna latar belakang saat aktif */
}

/* Style untuk tab nonaktif */
.nav-link:not(.active) {
    color: var(--neutral-1) !important; /* Warna teks saat nonaktif */
    background-color: transparent !important; /* Latar belakang transparan saat nonaktif */
}

/* Style untuk label input */
label {
    color: var(--neutral-0); /* Misalnya, warna teks biru */
}

/* Warna untuk input */
input, select {
    color: var(--neutral-0) !important; /* Misalnya, warna teks merah */
    background-color: transparent !important;
}

input.form-control:focus {
    background-color: var(--neutral-2) !important; 
    border: 2px solid var(--neutral-2) !important;
}


::placeholder{
    color: var(--neutral-2) !important;
    font-size: small;
}

.form-control{
    border: 2px solid var(--neutral-3);
    padding-block: 12px;
    border-radius: 16px;
    margin-bottom: 12px;
}

.form-select {
    border: 2px solid var(--neutral-2) !important;
    padding-block: 16px;
    border-radius: 16px;
    margin-bottom: 12px;
}

.container-parent{
    background-color: var(--neutral-8);
    min-height: 100vh;
    background-image: url('{% static "img/background.svg" %}');
    background-size: cover;
    background-position: center;
}

.form-check-input[type=checkbox]{
    border-color: var(--neutral-3);
    border-radius: 0.4em;
}

/* Media query untuk layar besar ke atas */
@media (min-width: 992px) {
    .margin-konten-screen-lg {
        margin-inline: 256px;
    }
}

</style>

<div class="container-fluid container-parent">
    <div class="row">
        <div class="col p-3 w-100 d-flex align-items-end" style="background-color: var(--neutral-6);">
            <img src="{% static 'img/logo-sm.svg' %}" alt="Logo Marmut-15" >
            <p class="plus-jakarta-sans-extrabold mx-2" style="font-size: 36; color: var(--neutral-0);">Marmut-15</p>
        </div>
        <div class="col-8 container-fluid d-flex justify-content-center align-items-center w-100 my-5">
            <div class="row d-flex container-fluid justify-content-center align-items-center">
                <p class="plus-jakarta-sans-extrabold my-4 d-flex justify-content-center" style="font-size: 24px; color: var(--neutral-0);">Daftar Marmut-15</p>
                <ul class="nav nav-pills mb-3 d-flex justify-content-center align-items-center" id="pills-tab" role="tablist">
                    <li class="nav-item p-1" style="background-color: var(--neutral-5); border-top-left-radius: 16px; border-bottom-left-radius: 16px;" role="presentation">
                        <button class="nav-link active plus-jakarta-sans-extrabold" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="font-size: 16; border-radius: 12px; font-weight: 900;">Pengguna</button>
                    </li>
                    <li class="nav-item p-1" style="background-color: var(--neutral-5); border-top-right-radius: 16px; border-bottom-right-radius: 16px;" role="presentation">
                        <button class="nav-link plus-jakarta-sans-extrabold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"  style="font-size: 16; border-radius: 12px; font-weight: 900;">Label</button>
                    </li>
                </ul>
                <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form class="d-flex justify-content-center align-items-center">
                            <div class="margin-konten-screen-lg row container-fluid d-flex justify-content-center align-items-center">
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Email address</p></label>
                                    <input type="email" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Tempat Lahir</p></label>
                                    <input type="text" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Password</p></label>
                                    <input type="password" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Tanggal Lahir</p></label>
                                    <input type="text" class="form-control datepicker plus-jakarta-sans-regular" id="datepicker" placeholder="dd/mm/yy">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Nama</p></label>
                                    <input type="text" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Kota Asal</p></label>
                                    <input type="text" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-md-6 row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Gender</p></label>
                                    <select class="form-select placeholder form-select-lg mb-3 plus-jakarta-sans-semibold"  style="font-size: 12px;"  aria-label=".form-select-lg example">
                                        <option selected class="plus-jakarta-sans-semibold" style="background-color: var(--neutral-3);">Gender</option>
                                        <option value="1" class="plus-jakarta-sans-semibold" style="background-color: var(--neutral-3); ">Laki-Laki</option>
                                        <option value="2" class="plus-jakarta-sans-semibold" style="background-color: var(--neutral-3);">Perempuan</option>
                                    </select>
                                </div>
                                <div class="col-md-6 row-sm-6">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Role</p></label>   
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label plus-jakarta-sans-medium" style="font-size: 12px; color: var(--neutral-1);" for="flexCheckDefault" cla>
                                        Artist
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label plus-jakarta-sans-medium" style="font-size: 12px; color: var(--neutral-1);" for="flexCheckDefault" cla>
                                        Songwriter
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label plus-jakarta-sans-medium" style="font-size: 12px; color: var(--neutral-1);" for="flexCheckDefault" cla>
                                        Podcaster
                                        </label>
                                    </div>
                                </div>
                                <div class="container-fluid d-flex justify-content-center">

                                    <button type="submit" class="row container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Submit</button>
                                </div>
                                <div class="container d-flex align-items-center justify-content-center">
                                    <p class="plus-jakarta-sans-regular" style="color: var(--neutral-1); font-size: 12px;">Sudah punya akun? <span class="plus-jakarta-sans-bold" style="color: var(--neutral-0);">Login</span></p>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" style="color: aliceblue;">
                        <form class="d-flex justify-content-center align-items-center">
                            <div class="margin-konten-screen-lg row container-fluid d-flex justify-content-center align-items-center">
                                <div class=" row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Email address</p></label>
                                    <input type="email" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Password</p></label>
                                    <input type="password" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Nama</p></label>
                                    <input type="text" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="row-sm-6 container">
                                    <label for="exampleFormControlInput1"><p class="m-auto plus-jakarta-sans-bold" style="font-size: 12px;">Kontak</p></label>
                                    <input type="text" class="form-control plus-jakarta-sans-regular" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="container-fluid d-flex justify-content-center">

                                    <button type="submit" class="row container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Submit</button>
                                </div>
                                <div class="container d-flex align-items-center justify-content-center">
                                    <div class="plus-jakarta-sans-regular" style="color: var(--neutral-1); font-size: 12px;">Sudah punya akun? <a class="plus-jakarta-sans-bold" style="color: var(--neutral-0); text-decoration: underline;" href="{% url 'register:registerkonten' %}">Login</a></div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>

{% endblock %}
