{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Document
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <!-- Bootstrap Multiselect CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"
        rel="stylesheet">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body style="background-color: var(--neutral-6);">
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const penggunabtn = document.getElementById('penggunabtn');
            const labelbtn = document.getElementById('labelbtn');
            const penggunadiv = document.getElementById('penggunadiv');
            const labeldiv = document.getElementById('labeldiv');

            penggunabtn.addEventListener('click', function () {
                penggunabtn.classList.toggle('btn-inactive');
                penggunabtn.classList.toggle('btn-active');
                labelbtn.classList.remove('btn-active');
                labelbtn.classList.add('btn-inactive');
                labeldiv.classList.add('hidden');
                penggunadiv.classList.remove('hidden');
            });

            labelbtn.addEventListener('click', function () {
                labelbtn.classList.toggle('btn-inactive');
                labelbtn.classList.toggle('btn-active');
                penggunabtn.classList.remove('btn-active');
                penggunabtn.classList.add('btn-inactive');
                penggunadiv.classList.add('hidden');
                labeldiv.classList.remove('hidden');
            });
        });
    </script>
    <style>
        .hidden {
            display: none;
        }

        .btn-inactive {
            background-color: transparent !important;
            color: var(--neutral-2) !important;
        }
        
        .btn-active {
            background-color: var(--neutral-2) !important;
            color: var(--neutral-0) !important;
        }

        /* Style untuk label input */
        label {
            color: var(--neutral-0);
            /* Misalnya, warna teks biru */
        }

        /* Warna untuk input */
        input,
        select {
            color: var(--neutral-0) !important;
            /* Misalnya, warna teks merah */
            background-color: transparent !important;
        }

        input.form-control:focus {
            background-color: var(--neutral-2) !important;
            border: 2px solid var(--neutral-2) !important;
        }

        ::placeholder {
            color: var(--neutral-2) !important;
            font-size: small;
        }

        .form-control {
            border: 2px solid var(--neutral-3);
            padding-block: 12px;
            border-radius: 16px;
            margin-bottom: 12px;
        }

        .form-select {
            border: 2px solid var(--neutral-4) !important;
            padding-block: 16px;
            border-radius: 16px;
            margin-bottom: 12px;
        }

        .daftar:hover,
        .daftar:focus{
            color: #FF7816 !important;
        }

        .btn-close{
            color: white !important;
        }
    </style>

    <header style="background-color: var(--neutral-5); padding: 1em 1em;">
        <div style="width: max-content;">
            <a class="d-flex" href="{% url 'preboarding:konten' %}" style="text-decoration: none;">
                <img src="{% static 'img/logo-sm.svg' %}" alt="Logo Marmut-15" style="width: 40%; height: 40%;">
                <p class="plus-jakarta-sans-extrabold mx-2" style="font-size: 36px; color: var(--neutral-0); margin: auto;">
                    Marmut
                </p>
            </a>
        </div>
    </header>
    <div style="margin: auto; width: 65%; margin-top: 2em;">
        <h1 class="plus-jakarta-sans-extrabold" style="font-size: 24px; color: var(--neutral-0); text-align: center; margin-bottom: 0.5em;">
            Daftar Marmut
        </h1>
        <div class="d-flex" style="padding: 2px; border-radius: 15px; width: min-content; border: 1px solid var(--neutral-2);  margin: auto;">
            <button id="penggunabtn" type="button" class="button-primary plus-jakarta-sans-bold btn-active" data-toggle="modal" style="font-size: 14px; border: none;">
                Pengguna
            </button>
            <button id="labelbtn" type="button" class="button-primary plus-jakarta-sans-bold btn-inactive" data-toggle="modal" style="font-size: 14px; border: none;">
                Label
            </button>
        </div>
        <div style="margin-top: 2em; overflow-y: auto;">
            <div id="penggunadiv" class="">
                {% if errorPengguna %}
                <div class="d-flex justify-content-center alert alert-primary alert-dismissible fade show" role="alert" style="background-color: #281E14; border: none; width: 25%; margin: auto; margin-bottom: 1em;">
                    <img src="{% static 'img/ExclamationCircleFill.svg' %}" alt="alert-info">
                    <p  class="plus-jakarta-sans-medium" style="color:var(--neutral-0); margin: auto;">{{errorPengguna}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endif %}
                <form action="{% url 'register:registeruser' %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div style="width: 49%;">
                            <div>
                                <label for="emailAddress">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px; color:var(--neutral-0)">Email
                                        address
                                    </p>
                                </label>
                                <input type="email" class="form-control plus-jakarta-sans-regular" id="emailAddress"
                                    placeholder="Masukkan email Anda" name="email" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="password">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Password</p>
                                </label>
                                <input type="password" class="form-control plus-jakarta-sans-regular" id="password"
                                    placeholder="Masukkan password Anda" name="password" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="nama">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Nama</p>
                                </label>
                                <input type="text" class="form-control plus-jakarta-sans-regular" id="nama"
                                    placeholder="Masukkan nama Anda" name="nama" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="gender">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Gender</p>
                                </label>
                                <select class="form-select placeholder form-select-lg mb-3 plus-jakarta-sans-semibold"
                                    style="font-size: 12px; margin-top: 0.5em" aria-label=".form-select-lg example" name="gender" required>
                                    <option value="" selected disabled hidden class="plus-jakarta-sans-semibold"
                                        style="background-color: var(--neutral-3);">Gender</option>
                                    <option value="0" class="plus-jakarta-sans-semibold" style="background-color: var(--neutral-3); ">
                                        Laki-Laki
                                    </option>
                                    <option value="1" class="plus-jakarta-sans-semibold" style="background-color: var(--neutral-3);">
                                        Perempuan
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div style="width: 49%;">
                            <div>
                                <label for="tempat_lahir">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Tempat
                                        Lahir
                                    </p>
                                </label>
                                <input type="text" class="form-control plus-jakarta-sans-regular" id="tempat_lahir"
                                    placeholder="Masukkan tempat lahir Anda" name="tempat_lahir" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="tanggal_lahir">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Tanggal
                                        Lahir
                                    </p>
                                </label>
                                <input type="date" class="form-control datepicker plus-jakarta-sans-regular" id="datepicker"
                                    placeholder="mm/dd/yy" name="tanggal_lahir" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="kota_asal">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px; color:var(--neutral-0)">Kota Asal
                                    </p>
                                </label>
                                <input type="text" class="form-control plus-jakarta-sans-regular" id="kota_asal"
                                    placeholder="Masukkan kota asal Anda" name="kota_asal" style="margin-top: 0.5em;" required>
                            </div>
                            <div>
                                <label for="role">
                                    <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Role</p>
                                </label>
                                <div class="form-check" style="margin-top: 0.2em;">
                                    <input class="form-check-input" type="checkbox" value="artist" id="artist" name="role">
                                    <label class="form-check-label plus-jakarta-sans-medium"
                                        style="font-size: 12px; color: var(--neutral-1);" for="artist" cla>
                                        Artist
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="songwriter" id="songwriter" name="role">
                                    <label class="form-check-label plus-jakarta-sans-medium"
                                        style="font-size: 12px; color: var(--neutral-1);" for="songwriter" cla>
                                        Songwriter
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="podcaster" id="podcaster" name="role">
                                    <label class="form-check-label plus-jakarta-sans-medium"
                                        style="font-size: 12px; color: var(--neutral-1);" for="podcaster" cla>
                                        Podcaster
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid d-flex justify-content-center">
                        <button type="submit"
                            class="container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Submit</button>
                    </div>
                    <div class="container d-flex align-items-center justify-content-center">
                        <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 12px;">
                            Sudah punya akun?
                            <a class="plus-jakarta-sans-bold daftar" style="color: var(--neutral-0); text-decoration: none;"
                                href="{% url 'login:loginkonten' %}">
                                <h7>Login</h7>
                            </a>
                        </p>
                    </div>
                </form>
            </div>
            <div id="labeldiv" class="hidden">
                {% if errorLabel %}
                <div class="d-flex justify-content-center alert alert-primary alert-dismissible fade show" role="alert"
                    style="background-color: #281E14; border: none; width: 25%; margin: auto; margin-bottom: 1em;">
                    <img src="{% static 'img/ExclamationCircleFill.svg' %}" alt="alert-info">
                    <p class="plus-jakarta-sans-medium" style="color:var(--neutral-0); margin: auto;">{{errorLabel}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endif %}
                <form action="{% url 'register:registerlabel' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="email">
                            <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">
                                Email address
                            </p>
                        </label>
                        <input type="email" class="form-control plus-jakarta-sans-regular" id="email" placeholder="Masukkan email Anda" name="email" style="margin-top: 0.5em;" required>
                    </div>
                    <div>
                        <label for="password">
                            <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Password
                            </p>
                        </label>
                        <input type="password" class="form-control plus-jakarta-sans-regular" id="password" placeholder="Masukkan password Anda" name="password" style="margin-top: 0.5em;" required>
                    </div>
                    <div>
                        <label for="nama">
                            <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Nama</p>
                        </label>
                        <input type="text" class="form-control plus-jakarta-sans-regular" id="nama" placeholder="Masukkan nama Anda" name="nama" style="margin-top: 0.5em;" required>
                    </div>
                    <div>
                        <label for="kontak">
                            <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Kontak</p>
                        </label>
                        <input type="text" class="form-control plus-jakarta-sans-regular" id="kontak" placeholder="Masukkan kontak Anda" name="kontak" style="margin-top: 0.5em;" required>
                    </div>
                    <div class="container-fluid d-flex justify-content-center">
                        <button type="submit"
                            class="container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Submit</button>
                    </div>
                    <div class="container d-flex align-items-center justify-content-center">
                        <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 12px;">
                            Sudah punya akun?
                            <a class="plus-jakarta-sans-bold daftar" style="color: var(--neutral-0); text-decoration: none;"
                                href="{% url 'login:loginkonten' %}">
                                <h7>Login</h7>
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>