{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Document
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body style="background-color: var(--neutral-6);">
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
    <!-- <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script>
        var toastElList = [].slice.call
            (document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootsrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show());
    </script> -->
    <style>
        /* Style untuk label input */
        label {
            color: var(--neutral-0);
            /* Misalnya, warna teks biru */
        }

        /* Warna untuk input */
        input,
        select {
            color: var(--neutral-0) !important;
            /* Misalnya, warna teks merah */
            background-color: transparent !important;
        }

        input.form-control:focus {
            background-color: var(--neutral-2) !important;
            border: 2px solid var(--neutral-2) !important;
        }

        ::placeholder {
            color: var(--neutral-2) !important;
            font-size: small;
        }

        .form-control {
            border: 2px solid var(--neutral-3);
            padding-block: 12px;
            border-radius: 16px;
            margin-bottom: 12px;
        }

        .daftar:hover,
        .daftar:focus{
            color: #FF7816 !important;
        }
    </style>

    <header style="background-color: var(--neutral-5); padding: 1em 1em;">
        <div style="width: max-content;">
            <a class="d-flex" href="{% url 'preboarding:konten' %}" style="text-decoration: none;">
                <img src="{% static 'img/logo-sm.svg' %}" alt="Logo Marmut-15" style="width: 40%; height: 40%;">
                <p class="plus-jakarta-sans-extrabold mx-2" style="font-size: 36px; color: var(--neutral-0); margin: auto;">
                    Marmut
                </p>
            </a>
        </div>
    </header>
    <!-- {% if success_message %}
    <div class="container p-5">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Apaya</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {success_message}
            </div>
        </div>
    </div>
    {% endif %} -->
    <div style="margin: auto; width: 50%; margin-top: 5em;">
        <h1 class="plus-jakarta-sans-extrabold" style="font-size: 24px; color: var(--neutral-0); text-align: center;">
            Masuk Akun Marmut
        </h1>
        {% if error_message %}
        <div class="d-flex justify-content-center alert alert-primary alert-dismissible fade show" role="alert"
            style="background-color: #281E14; border: none; width: 50%; margin: auto; margin-top: 1.5em;">
            <img src="{% static 'img/ExclamationCircleFill.svg' %}" alt="alert-info">
            <p class="plus-jakarta-sans-medium" style="color:var(--neutral-0); margin: auto;">{{error_message}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endif %}
        <div style="margin-top: 4em;">
            <form method="POST"action="{% url 'login:loginkonten' %}">
                {% csrf_token %}
                <div>
                    <label for="email">
                        <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px; text-align: start;">Email
                            address
                        </p>
                    </label>
                    <input type="email" name="email" class="form-control plus-jakarta-sans-regular" id="email" placeholder="Masukkan email Anda" style="margin-top: 0.5em;" required>
                </div>
                <div>
                    <label for="password">
                        <p class="m-auto plus-jakarta-sans-bold" style="font-size: 15px;">Password
                        </p>
                    </label>
                    <input type="password" name="password" class="form-control plus-jakarta-sans-regular" id="password" placeholder="Masukkan password Anda" style="margin-top: 0.5em;" required>
                </div>
                <div class="container-fluid d-flex justify-content-center">
                    <button type="submit"
                        class="container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Submit</button>
                </div>
            </form>
            <div class="container d-flex align-items-center justify-content-center">
                <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 12px;">
                    Belum punya akun?
                    <a class="plus-jakarta-sans-bold daftar" style="color: var(--neutral-0); text-decoration: none;"
                        href="{% url 'register:registerkonten' %}">
                        <h7>Daftar</h7>
                    </a>
                </p>    
            </div>
        </div>
    </div>
</body>

</html>