{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function goBack() {
        menuCheckbox.checked = false;
        window.history.back();
    }
</script>
<!-- Bagian konten kelola playlistnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 81vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Detail Playlist -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <div style="height: 4vh; margin-top: 1vh;">
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle=""
                    aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;"
                    onclick="goBack()">
                    <div class="d-flex" style="">
                        <img src="{% static 'img/back-icon.svg' %}" alt="search" width="25vw" height="25vh"
                            style="margin-left: 0.3vw;">
                        <p class="p plus-jakarta-sans-extrabold"
                            style="margin-left: 1vh; color: var(--neutral-0); font-size: 1vw; margin: auto;">
                            Back
                        </p>
                    </div>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="width: 90%; margin-top: 1vh;">
                <div style="">
                    <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh;">
                        {{pembuat}} | {{jumlah_lagu}} lagu |
                        {{durasi}} | {{tanggal_buat}}</p>
                    <h1 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 3vw; width: 60vw; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                        {{judul_playlist}}
                    </h1>
                    <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.5vw; margin-top: 1vh; width: 60vw; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                        {{deskripsi_playlist}}
                    </p>
                </div>
                <div style="margin-top: 4vh;">
                    <a href="" class="" style="text-decoration: none;" data-target="#modalInform" data-toggle="modal">
                        <div style="margin: auto; width: max-content;">
                            <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola" style="margin: auto; width: 9vw; height: 9vh;">
                        </div>
                        <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh !important; margin: auto; width: max-content;">
                            Putar Acak
                        </p>
                    </a>
                </div>
            </div>
    
            <!-- Tabel untuk lagu -->
            <table class="table-lagu" style="width: 100%; border-collapse: collapse; color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 30%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Judul Lagu</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 30%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Nama Artist</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan lagu -->
                    {% if detail_playlist|length > 0 %}
                    {% for detail in detail_playlist %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.no }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.judulLagu }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.artist }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ detail.durasi }}</td>
                        <td class="action" style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex justify-content-center align-items-center">
                                <a class="playcirclefill" href="#" data-toggle="modal" data-target="#modalInform" style="text-decoration: none; background-color: transparent; margin-top: -1vh;">
                                    <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </a>
                                <button class="threedots btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none; margin-top: -2vh;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'song:song' detail.id_konten %}">Detail</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="5" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada lagu di playlist ini
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}