{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Bagian konten playlistnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 79vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Daftar Playlist -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 2vw; margin-top: 2vh;">Telusuri Playlist
            </h2>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; margin-top: 2vh;">Playlist dari pengguna lain yang kami rekomendasikan
            </p>
    
            <!-- Tabel untuk playlist -->
            <table class="table-playlist" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 30%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Judul Playlist</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Pembuat</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan playlist -->
                    {% for playlist in list_all_playlist %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ playlist.no }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ playlist.judulPlaylist }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ playlist.pembuat }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ playlist.durasi }}</td>
                        <td class="action" style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex justify-content-center align-items-center">
                                <a class="playcirclefill" href="#" data-toggle="modal" data-target="#modalInform" style="text-decoration: none; background-color: transparent; margin-top: -1vh;">
                                    <img src="{% static 'img/PlayCircleFill.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </a>
                                <button class="threedots btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none; margin-top: -2vh;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'playlist:kelolaplaylist' playlist.id_playlist %}">Lihat</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}