{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const songbtn = document.getElementById('songbtn');
        const albumbtn = document.getElementById('albumbtn');
        const playlistbtn = document.getElementById('playlistbtn');
        const songToptbody = document.getElementById('songToptbody');
        const albumToptbody = document.getElementById('albumToptbody');
        const playlistToptbody = document.getElementById('playlistToptbody');

        songbtn.addEventListener('click', function () {
            songbtn.classList.toggle('btn-inactive');
            songbtn.classList.toggle('btn-active');
            albumbtn.classList.remove('btn-active');
            albumbtn.classList.add('btn-inactive');
            playlistbtn.classList.remove('btn-active');
            playlistbtn.classList.add('btn-inactive');
            albumToptbody.classList.add('hidden');
            playlistToptbody.classList.add('hidden');
            songToptbody.classList.remove('hidden');
        });

        albumbtn.addEventListener('click', function () {
            albumbtn.classList.toggle('btn-inactive');
            albumbtn.classList.toggle('btn-active');
            songbtn.classList.remove('btn-active');
            songbtn.classList.add('btn-inactive');
            playlistbtn.classList.remove('btn-active');
            playlistbtn.classList.add('btn-inactive');
            songToptbody.classList.add('hidden');
            playlistToptbody.classList.add('hidden');
            albumToptbody.classList.remove('hidden');
        });

        playlistbtn.addEventListener('click', function () {
            playlistbtn.classList.toggle('btn-inactive');
            playlistbtn.classList.toggle('btn-active');
            songbtn.classList.remove('btn-active');
            songbtn.classList.add('btn-inactive');
            albumbtn.classList.remove('btn-active');
            albumbtn.classList.add('btn-inactive');
            songToptbody.classList.add('hidden');
            albumToptbody.classList.add('hidden');
            playlistToptbody.classList.remove('hidden');
        });
    });
</script>

<style>
    .hidden {
        display: none;
    }

    .btn-inactive {
        background-color: transparent !important;
    }

    .btn-active {
        background-color: var(--neutral-2) !important;
    }
</style>
<!-- Bagian konten chartnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 81vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Daftar Chart -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 2vw; margin-top: 2vh;">
                Your Result
            </h2>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; margin-top: 2vh;">
                Your search results in Marmut
            </p>
            <div class="d-flex justify-content-center" style="padding: 0.5vh; border-radius: 15px; border: 1px solid var(--neutral-2); margin-top: 4vh; width: min-content;">
                <button id="songbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-active"
                    style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw;">
                    Song
                </button>
                <button id="albumbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive"
                    style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Album
                </button>
                <button id="playlistbtn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive"
                    style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Playlist
                </button>
            </div>
            <!-- Tabel untuk Result song -->
            <table class="table-song" id="songToptbody" style="width: 100%; border-collapse: collapse; color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Judul Lagu</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Artist</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 22%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Tanggal Rilis</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 13%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Total Plays</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Actions</th>
                    </tr>
                </thead>

                <tbody class="plus-jakarta-sans-bold">
                    {% if search_song %}
                    <!-- Gunakan loop untuk menampilkan song -->
                    {% for result in search_song %}
                    <tr class="table plus-jakarta-sans-bold body-tr" style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.judulLagu}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.artist}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.tanggalRilis}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.totalPlay}}</td>
                        <td style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex">
                                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'song:song' result.idSong %}">Lihat
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada song, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada song
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <!-- Tabel untuk Result album -->
            <table class="table-album hidden" id="albumToptbody" style="width: 100%; border-collapse: collapse; color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#
                        </th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 30%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            Judul Album</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 29%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Label</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 13%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Jumlah Lagu</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 13%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Actions</th>
                    </tr>
                </thead>
            
                <tbody class="plus-jakarta-sans-bold">
                    {% if search_album %}
                    <!-- Gunakan loop untuk menampilkan album -->
                    {% for result in search_album %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.judulAlbum}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.label}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.jumlahLagu}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.durasi}}</td>
                        <td style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex">
                                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'kelola:album' result.idAlbum %}">Lihat
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada song, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada album
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <!-- Tabel untuk Result playlist -->
            <table class="table-playlist hidden" id="playlistToptbody"
                style="width: 100%; border-collapse: collapse; color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#
                        </th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 29%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            Judul Playlist</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Pembuat</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 13%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 18%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Tanggal Buat</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 10%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Actions</th>
                    </tr>
                </thead>
            
                <tbody class="plus-jakarta-sans-bold">
                    {% if search_playlist %}
                    <!-- Gunakan loop untuk menampilkan playlist -->
                    {% for result in search_playlist %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.judulPlaylist}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.pembuat}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.durasi}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{result.tanggalBuat}}</td>
                        <td style="padding: 3vh 1vh; color: var(--neutral-1);">
                            <div class="dropdown d-flex">
                                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; border: none;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" width="25vw" height="25vh">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="background-color: var(--neutral-3); border-radius: 16px; padding: 1vh; width: max-content !important;">
                                    <a class="p dropdown-item plus-jakarta-sans-bold m-auto"
                                        style="color: var(--neutral-1); font-size: 0.8vw; font-weight: 600;"
                                        href="{% url 'kelola:playlist' result.idPlaylist %}">Lihat
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada song, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada playlist
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}