{% extends 'base.html' %} 
{% load static %}

{% block content %}

<style>

/* Untuk scrollbar vertikal */
::-webkit-scrollbar {
    width: 10px; /* Ubah lebar scrollbar sesuai keinginan */
}

/* Untuk scrollbar horizontal */
::-webkit-scrollbar-horizontal {
    height: 10px; /* Ubah tinggi scrollbar sesuai keinginan */
}

/* Untuk bagian 'thumb' atau bagian yang dapat digerakkan di scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--neutral-2); /* Ubah warna 'thumb' sesuai keinginan */
    border-radius: 5px; /* Ubah radius border sesuai keinginan */
}

/* Untuk bagian yang menunjukkan area yang belum terlihat */
::-webkit-scrollbar-track {
    background-color: var(--neutral-4); /* Ubah warna track scrollbar sesuai keinginan */
}

/* Untuk memberikan gaya hover pada thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Ubah warna thumb saat hover sesuai keinginan */
}

/* Gaya scrollbar */
.scroll-container::-webkit-scrollbar {
        width: 10px; /* Ubah lebar scrollbar sesuai keinginan */
    }

.scroll-container::-webkit-scrollbar-track {
    background-color: var(--neutral-4); /* Ubah warna track scrollbar sesuai keinginan */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--neutral-2); /* Ubah warna 'thumb' sesuai keinginan */
    border-radius: 5px; /* Ubah radius border sesuai keinginan */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Ubah warna thumb saat hover sesuai keinginan */
}

    input, select {
    color: var(--neutral-0) !important; /* Misalnya, warna teks merah */
    background-color: transparent !important;
}

/* Style untuk tab aktif */
.nav-link.active {
    color: var(--neutral-0) !important; /* Warna teks saat aktif */
    background-color: var(--neutral-4) !important; /* Warna latar belakang saat aktif */
}

/* Style untuk tab nonaktif */
.nav-link:not(.active) {
    color: var(--neutral-1) !important; /* Warna teks saat nonaktif */
    background-color: transparent !important; /* Latar belakang transparan saat nonaktif */
}

input.form-control:focus {
    background-color: var(--neutral-6) !important; 
    border: 0px solid var(--neutral-2) !important;
}


::placeholder{
    color: var(--neutral-1) !important;
    font-size:medium;
    font-weight: 600;
}
    .top-content{  
        background-image: url('{% static "img/dashboard-bg.svg" %}');
        margin-bottom: -36px;
    }
    .top-content, .secondary-content{
        min-height: 100%;
        min-width: 100%;
    }
    .secondary-content{
        margin-block: 24px;
    }

    .tertiary-content-1{
        /* min-width: 240px;
        max-width: 180px; */
    }
    @media only screen and (max-width: 2000px) {
        
        .tertiary-content-1{
            min-width: 468px;
        }
        }

    @media only screen and (max-width: 1900px) {
        
        .tertiary-content-1{
            min-width: 420px;
        }
        }

    @media only screen and (max-width: 1800px) {
        
        .tertiary-content-1{
            min-width: 400px;
        }
        }

    @media only screen and (max-width: 1700px) {
        
        .tertiary-content-1{
            min-width: 380px;
        }
        }

    @media only screen and (max-width: 1560px) {
        
        .tertiary-content-1{
            min-width: 348px;
        }
        }

    @media only screen and (max-width: 1440px) {
        
        .tertiary-content-1{
            min-width: 340px;
        }
        }

    @media only screen and (max-width: 1396px) {
        
        .tertiary-content-1{
            min-width: 320px;
        }
        }

    @media only screen and (max-width: 1344px) {
        
        .tertiary-content-1{
            min-width: 284px;
        }
        }
    @media only screen and (max-width: 1196px) {
    
    .tertiary-content-1{
        min-width: 264px;
    }
    }
    @media only screen and (max-width: 1100px) {
    
    .tertiary-content-1{
        min-width: 236px;
    }
    }

    @media only screen and (max-width: 998px) {
    
    .tertiary-content-1{
        min-width: 220px;
    }
    }
    @media only screen and (max-width: 994px) {
    
    .tertiary-content-1{
        min-width: 260px;
    }
    }

    @media only screen and (max-width: 996px) {
    
    .tertiary-content-1{
        min-width: 224px;
    }
    }
    @media only screen and (max-width: 988px) {
    
    .tertiary-content-1{
        min-width: 284px;
    }
    }

    @media only screen and (max-width: 896px) {
    
    .tertiary-content-1{
        min-width: 264px;
    }
    }

    @media only screen and (max-width: 836px) {
    
    .tertiary-content-1{
        min-width: 244px;
    }
    }
    
    @media only screen and (max-width: 776px) {
    
    .tertiary-content-1{
        min-width: 236px;
    }
    }
    @media only screen and (max-width: 764px) {
    
    .tertiary-content-1{
        min-width: 284px;
    }
    }
    @media only screen and (max-width: 728px) {
    
    .tertiary-content-1{
        min-width: 264px;
    }
    }

    @media only screen and (max-width: 676px) {
    
    .tertiary-content-1{
        min-width: 260px;
    }
    }
    @media only screen and (max-width: 632px) {
    
    .tertiary-content-1{
        min-width: 224px;
    }
    }
    @media only screen and (max-width: 684px) {
    
    .tertiary-content-1{
        min-width: 244px;
    }
    }

    @media only screen and (max-width: 644px) {
    
    .tertiary-content-1{
        min-width: 232px;
    }
    }
    
    @media only screen and (max-width: 604px) {
    
    .tertiary-content-1{
        min-width: 212px;
    }
    }
    @media only screen and (max-width: 576px) {
    
    .tertiary-content-1{
        min-width: 10px;
        max-width: 100%;
        margin-bottom: 24px;
    }
    }
    body{
    }

    transparent-bg{
        background-color: transparent;
    }

.button-lihat {
    padding-inline: 30px;
    padding-block: 12px;
    border-radius: 16px;
    border-color: var(--neutral-3);
    color: var(--neutral-0);
    background-color: transparent;
    border-width: 2px; /* Lebar border */
    border-style: solid; /* Jenis garis border */
    text-decoration: none;
}

.button-lihat:hover {
    /* border-color: var(--neutral-2); Warna border saat hover */
    background-color: var(--primary);
    text-decoration: none;
}

.chip-genres {
    display: inline-block;
    background-color: var(--neutral-2);
    border-radius: 15px;
    padding-inline: 10px;
    padding-block: 5px;
    color: var(--neutral-0);
    width: 64px;
    text-align: center;
}

</style>
<div class="container-fluid bg-black top-content d-flex justify-content-center align-item-start">
    <div class="row secondary-content container-fluid d-flex justify-content-center align-item-start no-gutters" style="">
        <div class="col-sm-1 transparent-bg col-xxl-2 col-xl-2 col-md-1 col-lg-2 tertiary-content-1 d-flex container-fluid" style="margin-left: -2px;">
            <div class="row container-fluid d-flex justify-content-start align-item-start tertiary-content-1" style="width: 100%; margin-inline: -12px;">

                <!-- Atur Height Navbar -->
                <div class=" container-fluid d-flex transparent-bg" style="width: 100%; margin-block: 12px; height: fit-content; margin-top: 36px; margin-bottom: 36px; border-radius: 24px;">
                    <div class="row container-fluid d-flex " style="background-color: var(--neutral-5); width: 110%;border-radius: 24px; margin-block: -1px; padding-bottom: 24px;">
                        <div class="container" style="height: fit-content;">
                            <a href="" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                <img src="{% static 'img/home-inactive.svg' %}" alt="search" style="width: 48px; height: 48px;"><p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 12px; color: var(--neutral-1); height: auto; align-content: center; height: 44px;">Beranda</p>
                            </a>
                        </div>
                        <div class="container" style="height: 96px;">
                            <a href="" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                <img src="{% static 'img/chart-inactive.svg' %}" alt="search" style="width: 48px; height: 48px;"><p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 12px; color: var(--neutral-1); height: auto; align-content: center; height: 44px;">Chart</p>
                            </a>
                        </div>
                        <div class="container" style="height: 96px;">
                            <a href="" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                <img src="{% static 'img/podcast-active.svg' %}" alt="search" style="width: 48px; height: 48px;"><p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 12px; color: var(--neutral-0); height: auto; align-content: center; height: 44px;">Podcast</p>
                            </a>
                        </div>
                        <div class="container" style="height: 96px;">
                            <a href="" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                <img src="{% static 'img/playlist-inactive.svg' %}" alt="search" style="width: 48px; height: 48px;"><p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 12px; color: var(--neutral-1); height: auto; align-content: center; height: 44px;">Playlist</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" container-fluid d-flex transparent-bg" style="width: 100%; margin-block: 12px; height: fit-content; margin-top: 36px; margin-bottom: 36px; border-radius: 24px;">
                    <div class="row container-fluid d-flex align-item-start justify-content-start" style="background-color: var(--neutral-5); width: 110%;border-radius: 24px; margin-block: -1px; padding-bottom: 24px; max-height: 70vh; min-height: 61vh;">
                        <div class="container" style="height: fit-content;">
                            <a href="" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                <img src="{% static 'img/playlist-collection.svg' %}" alt="kelola" style="width: 48px; height: 48px;"><p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 12px; color: var(--neutral-0); height: auto; align-content: center; height: 44px;">Kelola album dan song</p>
                            </a>
                        </div>
                        
                        <ul class="nav nav-pills mb-3 d-flex justify-content-start align-items-start" id="pills-tab" role="tablist" >
                            <li class="nav-item p-1" style="background-color: var(--neutral-5); border-top-left-radius: 16px; border-bottom-left-radius: 16px;" role="presentation">
                                <button class="nav-link active plus-jakarta-sans-extrabold" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="font-size: 16; border-radius: 12px; font-weight: 900; font-size: 12px;">Album</button>
                            </li>
                            <!-- Tambah kategori chips -->
                            <li class="nav-item p-1" style="background-color: var(--neutral-5); border-top-right-radius: 16px; border-bottom-right-radius: 16px;" role="presentation">
                                <button class="nav-link plus-jakarta-sans-extrabold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"  style="font-size: 16; border-radius: 12px; font-weight: 900; font-size: 12px;">Playlist</button>
                            </li>
                        </ul>
                        <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            </div>
                            <!-- Tambah kategori chips -->
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" style="color: aliceblue;">d
                            </div>
                        </div>
                        <!-- Tambah Button -->
                        <div class="container d-flex ">
                            <form action="{% url 'login:loginkonten' %}" method="POST" class="w-100">
                                {% csrf_token %}
                                <button type="submit" class=" container d-flex align-items-center justify-content-center plus-jakarta-sans-extrabold button-primary my-4">Tambah Album</button>
                            </form>

                        </div> 
                        <div class="container" style="height: 40vh; overflow-y: auto;">

                            <div class="container row d-flex" style=" margin-inline: 1px;">
                                <div class="container d-flex justify-content-center" style="height: 68px; background-color: var(--neutral-4); border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >

                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                                </div>
                                            </div>
                                        </div>                                
                                        <div class="container col-1" style="align-content: center;">
                                            <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                        </div>
                                    </div>
                        </div>

                        <div class="container row d-flex" style=" margin-inline: 1px;">
                            <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >
                                        
                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                                </div>
                                            </div>
                                        </div>                                
                                <div class="container col-1" style="align-content: center;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="container row d-flex" style=" margin-inline: 1px;">
                            <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >

                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                                </div>
                                            </div>
                                </div>                                
                                <div class="container col-1" style="align-content: center;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                </div>
                            </div>
                        </div>

                        
                        <div class="container row d-flex" style=" margin-inline: 1px;">
                            <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >
                                        
                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                                </div>
                                            </div>
                                        </div>                                
                                        <div class="container col-1" style="align-content: center;">
                                            <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                        </div>
                                    </div>
                        </div>
                        
                        
                        <div class="container row d-flex" style=" margin-inline: 1px;">
                            <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >
                                        
                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                            <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="container col-1" style="align-content: center;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                </div>
                            </div>
                        </div>

                        
                        <div class="container row d-flex" style=" margin-inline: 1px;">
                            <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                    <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >
                                        
                                        <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                    </div>
                                </div>
                                <div class="container col-7 " style="align-content: center;">
                                    <div class="row d-flex">
                                        <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                            <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                            </div>
                                            <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                                    <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                                </div>
                                            </div>
                                        </div>                                
                                        <div class="container col-1" style="align-content: center;">
                                            <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="container row d-flex" style=" margin-inline: 1px;">
                                    <div class="container d-flex justify-content-center" style="height: 68px; background-color: transparent; border-radius: 16px;">
                                        <div class="container col-2" style="align-content: center; margin-inline: -12px;">
                                            <div class="justify-content-center align-content-center d-flex" style="border-radius: 12px; height: 32px; width: 32px; background-color: var(--neutral-2);" >
                                                
                                                <img src="{% static 'img/default.png' %}" alt="kelola" style="width: 24px; height: 24px;">
                                            </div>
                                        </div>
                                        <div class="container col-7 " style="align-content: center;">
                                            <div class="row d-flex">
                                                <!-- Gunakan elemen <div> sebagai wadah untuk teks -->
                                                    <div class="plus-jakarta-sans-medium" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <p class="d-inline" style="margin: 0; color: var(--neutral-0); font-size: 10px; font-weight: 900; font-size: 12px;">Nama Album</p>
                                                    </div>
                                                    <!-- Elemen <p> kedua dengan inline style yang sama -->
                                                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">10 lagu</p>
                                            <p class="d-inline plus-jakarta-sans-medium" style="margin: 0; color: var(--neutral-1); font-size: 10px;">6209 menit</p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="container col-1" style="align-content: center;">
                                    <img src="{% static 'img/threedots.svg' %}" alt="kelola" style="width: 20px; height: 20px;">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-sm-7 col-xxl-9 col-xl-9 col-md-8 col-lg-9 transparent-bg tertiary-content-2 d-flex container-fluid" style="margin-right: -2px; height: 95%;">
            <div class="row container-fluid d-flex justify-content-start align-item-start tertiary-content-1" style="width: 100%; margin-inline: -12px;">
                
                <div class=" container-fluid d-flex transparent-bg" style="width: 100%; height: 8vh; margin-top: 36px; margin-bottom: 36px; border-radius: 24px; align-items: center;">
                    <div class="row container-fluid d-flex justify-content-start" style="background-color: var(--neutral-5); width: 100%; margin-block: 12px; border-radius: 24px; margin-block: -1px; padding-block: 12px; ">
                        
                        <div class="col-md-11 row-lg-11 row-sm-6  container">
                            <input type="text" class="form-control plus-jakarta-sans-bold" id="exampleFormControlInput1" placeholder="Cari lagu, album, atau playlist..." style="background-color: transparent; border: none;">
                            
                        </div>
                        <div class="col-md-1 row-lg-1 container d-flex justify-content-end" style="max-width: 20px; margin-left: 8px;">
                            <a type="submit" href="">
                                <img src="{% static 'img/search.svg' %}" alt="search"></a>
                                
                            </div>
                        </div>
                        <a href="{% url 'preboarding:konten' %}" class="row container-fluid d-flex " style="background-color: var(--neutral-5); width: 20%; margin-block: 12px; border-radius: 24px; width: 96px; margin-left: 36px; margin-block: -1px; height: 8vh; justify-content: center; align-items: center;">
                        <img src="{% static 'img/logout.svg' %}" alt="Logout" width="32px" height="32px">
                    </a>
                </div>
                <div class="container-fluid content-bg d-flex scroll-container" style="
                background: #38120B;
                background: linear-gradient(180deg, #292724, #1B1817); width: 100%; height: 86vh; border-radius: 24px; margin-top: -300px; overflow-y: scroll;">
                    <!-- Daftar podcast -->
                    <div class="row">
                        <div class="col-12" style="margin-left: 30px">
                            <div style="height: 60px;">
                                <a href="{% url 'podcast:podcast' %}" class="container d-flex align-item-center" style="padding-top: 36px; text-decoration: none; height: fit-content;">
                                    <img src="{% static 'img/back-icon.svg' %}" alt="search" style="width: 20px; height: 20px; margin: left 5px;">
                                    <p class="plus-jakarta-sans-extrabold align-item-center" style="margin-left: 10px; color: var(--neutral-0); height: auto; align-content: center; height: 20px;">Back</p>
                                </a>
                            </div>
                            <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:30px">Podcast</p>
                            <h2 class="plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 40px; margin-top: 10px;">Mistery of Love</h2>
                            <p class="plus-jakarta-sans-bold" style="color: var(--neutral-0); font-size: 20px; margin: top 20px">Fawwaz</p>
                            <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 13px; margin-top:5px">20 Episodes, 1 jam 2 menit</p>
                            <p class="plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 15px; margin-top: 10px;">Genre</p>
                            <p class="plus-jakarta-sans-bold chip-genres" style="color: var(--neutral-0); font-size: 13px; margin-top:0px;">Horror</p>
                            <p class="plus-jakarta-sans-bold chip-genres" style="color: var(--neutral-0); font-size: 13px; margin-top:0px;width: 80px;">Romance</p>

                            <!-- Tabel untuk podcast -->
                            <table class="table-podcast" style="width: 100%; border-collapse: collapse; margin-top: 28px;color: var(--neutral-1); padding: 10px;">
                                <thead>
                                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                                        <th style="color: var(--neutral-1); padding: 10px;">#</th>
                                        <th style="color: var(--neutral-1); padding-left: 120px;">Judul</th>
                                        <th style="color: var(--neutral-1); padding-left: 120px;">Deskripsi</th>
                                        <th style="color: var(--neutral-1); padding-left: 120px;">Durasi</th>
                                        <th style="color: var(--neutral-1); padding-left: 120px;">Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Gunakan loop untuk menampilkan episode -->
                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>

                                    <tr class="plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size:14px; text-align:start;padding:10px; ">
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding: 10px;color: var(--neutral-1);">1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px;color: var(--neutral-1);">Episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">Ya isinya episode 1</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px;padding-left: 120px;color: var(--neutral-1);">30 menit</td>
                                        <td style="padding-top: 30px; padding-bottom: 30px; padding-left: 120px; color: var(--neutral-1);">{{ podcast_date|date:"d/m/Y" }}
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 container-fluid transparent-bg" style=" height: 72px;">j</div>
    </div>
</div>
{% endblock %}