{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
<style>
    .chip-genres {
    display: inline-block;
    background-color: var(--neutral-2);
    border-radius: 15px;
    padding-inline: 10px;
    padding-block: 5px;
    color: var(--neutral-0);
    width: 64px;
    text-align: center;
    }
</style>
<!-- Bagian konten detail podcastnya -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 79vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <!-- Daftar podcast -->
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <div style="height: 4vh; margin-top: 1vh;">
                <button class="btn btn-secondary dropdown-toggle-iconless" type="button" id="dropdownMenuButton" data-toggle=""
                    aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;" onclick="goBack()">
                    <div class="d-flex" style="">
                        <img src="{% static 'img/back-icon.svg' %}" alt="search" width="25vw" height="25vh" style="margin-left: 0.3vw;">
                        <p class="p plus-jakarta-sans-extrabold" style="margin-left: 1vh; color: var(--neutral-0); font-size: 1vw; margin: auto;">
                            Back
                        </p>
                    </div>
                </button>
            </div>
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 0.8vw; margin-top: 3vh">Podcast, {{ tahun_podcast }}</p>
            <!-- Judul Podcast-->
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 3vw;">{{ judul_podcast }}
            </h2> 
            <!-- Nama Podcaster-->
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-0); font-size: 1vw; margin-top: 1vh;">
                <span class="p" style="color: var(--neutral-1); font-size: 0.8vw; margin-right: 0.5vw;">by</span>
                <span>{{ podcaster }}</span>
            </p>
            <!-- Total Episode dan Durasi Podcast-->
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 0.8vw; margin-top: 1vh;">
                {{ total_episodes }} Episodes, {{ total_duration }}
            </p>
            <!-- Genre Podcast-->
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1vw; margin-top: 1vh;">
                Genre
            </p>
            {% for genre in genres_podcast %}
            {% if genre %}
            <p class="p plus-jakarta-sans-bold chip-genres" style="color: var(--neutral-0); font-size: 0.8vw; width: fit-content;">
                {{ genre }}
            </p>
            {% else %}
            <p class="p plus-jakarta-sans-bold chip-genres"
                style="color: var(--neutral-0); font-size: 0.8vw; width: fit-content;">
                -
            </p>
            {% endif %}
            {% endfor %}
            <p class="p plus-jakarta-sans-medium" style="color: var(--neutral-1); font-size: 0.7vw; margin-top: 1vh;">
                Released on {{ tanggal_rilis }}
            </p>

            <!-- Tabel untuk podcast -->
            <table class="table-podcast" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px; table-layout: fixed;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 4%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 33%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Judul Episode</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 33%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Deskripsi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 18%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Durasi</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 12%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">Tanggal</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Gunakan loop untuk menampilkan episode -->
                    {% for episode in episodes %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ forloop.counter }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ episode.judul }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ episode.deskripsi }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ episode.durasi }}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                            {{ episode.tanggal_rilis|date:"d/m/Y" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}