{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const artistBtn = document.getElementById('artist-btn');
        const songwriterBtn = document.getElementById('songwriter-btn');
        const tbodyArtist = document.getElementById('tbody-artist');
        const tbodySongwriter = document.getElementById('tbody-songwriter');
        const troyaltiArtist = document.getElementById('troyalti-artist');
        const troyaltiSongwriter = document.getElementById('troyalti-songwriter');

        // Initialize button states based on presence of buttons
        if (artistBtn && !songwriterBtn) {
            artistBtn.classList.remove('btn-inactive');
            artistBtn.classList.add('btn-active');
        } else if (songwriterBtn && !artistBtn) {
            songwriterBtn.classList.remove('btn-inactive');
            songwriterBtn.classList.add('btn-active');
        }

        const toggleButtonStates = function (clickedBtn, otherBtn) {
            if (otherBtn) {
                clickedBtn.classList.toggle('btn-inactive');
                clickedBtn.classList.toggle('btn-active');
                otherBtn.classList.remove('btn-active');
                otherBtn.classList.add('btn-inactive');
            }
        }

        artistBtn?.addEventListener('click', function () {
            toggleButtonStates(artistBtn, songwriterBtn);
            tbodySongwriter.classList.add('hidden');
            tbodyArtist.classList.remove('hidden');
            troyaltiSongwriter.classList.add('hidden');
            troyaltiArtist.classList.remove('hidden');
        });

        songwriterBtn?.addEventListener('click', function () {
            toggleButtonStates(songwriterBtn, artistBtn);
            tbodyArtist.classList.add('hidden');
            tbodySongwriter.classList.remove('hidden');
            troyaltiArtist.classList.add('hidden');
            troyaltiSongwriter.classList.remove('hidden');
        });
    });
</script>

<style>
    .hidden {
        display: none;
    }

    .btn-inactive {
        background-color: transparent !important;
        color: var(--neutral-2) !important;
    }
    
    .btn-active {
        background-color: var(--neutral-2) !important;
        color: var(--neutral-0) !important;
    }
</style>
<!-- Bagian konten royalti -->
<div class="konten" style="background: linear-gradient(180deg, #292724, #1B1817); border-radius: 24px; height: 79vh; padding-bottom: 2vh; padding-top: 2vh; white-space: nowrap; overflow-y: auto; text-overflow: ellipsis; margin-top: 2vh; width: 97%;">
    <div class="row">
        <div class="col-12" style="margin-left: 4vw">
            <h2 class="profilsaya plus-jakarta-sans-extrabold" style="color: var(--neutral-0); font-size: 2vw; margin-top: 2vh;">
                Royalti
            </h2>
            {% if 'label' not in request.session.user_type %}
            <div class="d-flex justify-content-center" style="padding: 0.5vh; border-radius: 15px; border: 1px solid var(--neutral-2); margin-top: 4vh; width: min-content;">
                {% if 'artist' in request.session.user_roles %}
                <button id="artist-btn" type="button" class="button button-primary plus-jakarta-sans-bold btn-active"
                    style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw;">
                    Artist
                </button>
                {% endif %}
                {% if 'songwriter' in request.session.user_roles %}
                <button id="songwriter-btn" type="button" class="button button-primary plus-jakarta-sans-bold btn-inactive"
                    style="font-size: 1vw; border: none; text-align: center; display: flex; align-items: center; justify-content: center; width: 8vw; margin-left: 0.5vw;">
                    Songwriter
                </button>
                {% endif %}
            </div>
            {% endif %}
            <p class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; margin-top: 2vh;">
                Daftar royalti yang diperoleh
            </p>

            <div style="margin-top: 5vh;">
                {% if 'label' not in request.session.user_type %}
                <p id="troyalti-artist" class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; color: white;">
                    {% for artist in total_royalti_artist %}
                    Total royalti = <span>Rp {{artist.total_royalti}}</span>
                    {% endfor %}
                </p>
                <p id="troyalti-songwriter" class="p plus-jakarta-sans-bold hidden" style="color: var(--neutral-1); font-size: 1.2vw; color: white;">
                    {% for songwriter in total_royalti_songwriter %}
                    Total royalti = <span>Rp {{songwriter.total_royalti}}</span>
                    {% endfor %}
                </p>
                {% else %}
                <p id="troyalti-label" class="p plus-jakarta-sans-bold" style="color: var(--neutral-1); font-size: 1.2vw; color: white;">
                    {% for label in total_royalti_label %}
                    Total royalti = <span>Rp {{label.total_royalti}}</span>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <!-- Tabel untuk Royalti -->
            <table class="table-royalti" style="width: 100%; border-collapse: collapse;color: var(--neutral-1); padding: 10px; margin-top: 20px;">
                <thead>
                    <tr style="border-bottom: 1px solid var(--neutral-2);">
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 5%;">#</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%;">Judul Lagu</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 25%;">Judul Album</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 13%;">Total Play</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 18%;">Total Download</th>
                        <th class="table" style="color: var(--neutral-1); padding: 3vh 1vh; font-size: 1vw; width: 14%; ">Royalti</th>
                    </tr>
                </thead>
                {% if 'label' not in request.session.user_type %}
                <!-- Artist -->
                <tbody id="tbody-artist" class="plus-jakarta-sans-bold">
                    {% if royalti_artist %}
                    <!-- Gunakan loop untuk menampilkan royalti -->
                    {% for royalti in royalti_artist %}
                    <tr class="table plus-jakarta-sans-bold body-tr" style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); ">
                            {{royalti.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_song}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_album}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_play}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_download}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            Rp {{royalti.jumlah_royalti}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada royalti, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold" style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada karya
                        </td>
                    </tr>
                    {% endif %}
                </tbody>

                <!-- Songwriter -->
                <tbody id="tbody-songwriter" class="plus-jakarta-sans-bold hidden">
                    {% if royalti_songwriter %}
                    {% for royalti in royalti_songwriter %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); ">
                            {{royalti.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_song}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_album}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_play}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_download}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            Rp {{royalti.jumlah_royalti}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada royalti, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada karya
                        </td>
                    </tr>
                    {% endif %}
                </tbody>

                {% else %}
                <tbody id="tbody-label" class="plus-jakarta-sans-bold">
                    {% if royalti_label %}
                    {% for royalti in royalti_label %}
                    <tr class="table plus-jakarta-sans-bold body-tr"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh;">
                        <td style="padding: 3vh 1vh; color: var(--neutral-1); ">
                            {{royalti.no}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_song}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.judul_album}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_play}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{royalti.total_download}}</td>
                        <td
                            style="padding: 3vh 1vh; color: var(--neutral-1); word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            Rp {{royalti.jumlah_royalti}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Jika tidak ada royalti, tampilkan pesan -->
                    <tr class="table plus-jakarta-sans-bold"
                        style="border-bottom: 0px solid var(--neutral-2); font-size: 1vw; text-align: start; padding: 1vh; ">
                        <td colspan="6" style="text-align: center;" class="plus-jakarta-sans-medium p-4">
                            Belum ada karya
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}